<!-- Modal 結構 -->
<div class="modal fade" id="countryModal" aria-labelledby="countryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">選擇國家</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="關閉"></button>
        </div>
        <div class="modal-body">
        <input type="text" id="countrySearch" class="form-control mb-3" placeholder="搜尋國家">
        <ul id="countryList" class="list-group">
            <li class="list-group-item">United States</li>
            <li class="list-group-item">Canada</li>
            <li class="list-group-item">Japan</li>
            <li class="list-group-item">Germany</li> 
            <li class="list-group-item">Taiwan</li>
            <li class="list-group-item">South Korea</li>
            <li class="list-group-item">Australia</li>
            <li class="list-group-item">France</li>
        </ul>
        </div>
    </div>
    </div>
</div>